header {
  margin: 0 2rem 4rem 2rem;
  @include flex-justify(sb);
  align-items: center;
  top: 1rem;
  height: 4.5rem;
  padding: 0 2rem;
  background-color: $transp;
  border-radius: $rad;
  position: sticky;
  z-index: 100;
  @include background-blur;
  @include mobile-m {
    margin: 0 0.4rem 4rem 0.4rem;
  }
  @include mobile-s {
    margin: 0 0.4rem 2rem 0.4rem;
  }
}
.logo {
  font-size: 1.35rem;
  font-weight: 600;
  @include mobile-s {
    font-size: 1rem;
  }
}
.nav {
  display: flex;

  li {
    margin: 0 1.5rem;
    font-size: 1.1rem;
    @include mobile-s {
      font-size: 0.8rem;
      margin: 0 0.7rem;
    }
  }
  button {
    min-width: auto;
    padding: 0;
    color: $light;
    &:hover {
      color: $lighter;
    }
    svg {
      @include mobile-s {
        font-size: 1rem;
      }
    }
  }
}
