.home {
  h3 {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    word-spacing: 0.25rem;
  }
}
.main {
  position: relative;
  padding: 0 2rem;
  height: 100vh;
  overflow: hidden;
  @include pc {
    padding: 0;
  }
  @include mobile-m {
    padding: 0 2rem;
  }
  img {
    position: absolute;
    right: 2rem;
    top: -1.5rem;
    height: 82vh;
    @include pc {
      right: 0;
    }
    @include mobile-m {
      left: -1rem;
    }
  }
  .text {
    position: relative;
    top: 8rem;
    z-index: 2;
    @include mobile-m {
      top: 1rem;
    }
  }
  h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }
  h2 {
    font-size: 2.5rem;
    font-size: 2rem;
  }
  span {
    color: $bright;
    text-shadow: 0 3px 10px rgb(0 0 0);
  }
}

.new-goods {
  position: relative;
  background: url("./img/New_RTX_Bg.png") no-repeat;
  background-size: 100% auto;
  padding: 1rem;
  margin: 3rem 2rem 10rem 2rem;
  &::before {
    content: "";
    background-image: linear-gradient(
      to bottom,
      rgba(0, 75, 255, 0) 0,
      rgba(0, 75, 255, 0.1) 50%,
      rgba(115, 58, 200, 0.1) 100%
    );
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 24px;
  }
}
.new-container {
  padding: 5rem 2rem 1rem 2rem;
  @include pc {
    padding: 5rem 1rem 1rem 1rem;
  }
}
.new-goods-item {
  position: relative;
  height: 25rem;
  width: 18.5rem;
  background-color: $purpure;
  border-radius: $rad;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  color: $light;
  transition: 0.3s;
  margin: 0.5rem auto 0.5rem auto;
  @include pc {
    margin: 0.5rem auto 3rem auto;
  }

  &:hover {
    color: $light;
    transform: scale(1.03);
    transition: 0.3s;
    background-color: $bright;
  }
  &::after {
    content: "NEW";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 700;
    padding: 0.4rem 0.7rem;
    background-color: $bright;
    border-radius: $rad 0 $rad 0;
  }
  .goods-img {
    width: 100%;
  }
  .img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 12rem;
    height: 12rem;
    background-image: linear-gradient(180deg, $transp 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    @include flex-center(x);
    @include laptop {
      width: 10rem;
      height: 10rem;
    }
    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 15rem;
      @include laptop {
        width: 13rem;
      }
    }
  }
}
.hot-goods-container {
  padding: 3rem 0rem;
}
.hot-goods {
  h3 {
    color: $bright;
    font-size: 3rem;
  }
  .hot-goods-item {
    margin: 1rem auto 4.5rem auto;
    border: 2px solid $purpure;
    border-radius: $rad;
    position: relative;
    padding: 1.5rem 1.8rem;
    width: 19rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(220, 48, 151, 65%);
    background-image: linear-gradient(
      to right top,
      rgba(245, 89, 69, 0.2) 0,
      rgba(44, 70, 142, 0.8) 41%,
      rgba(37, 46, 126, 0.5) 100%
    );
    transition: 0.2s;
    &:hover {
      color: $light;
      transform: scale(1.03);
      transition: 0.2s;
      background-color: $bright;
    }
    @include mobile-s {
      margin: 1rem auto 5rem auto;
    }
    .hot-goods-img {
      width: 100%;
      height: 12rem;
      background-color: $purpure;
      border-radius: $rad;
      padding: 1rem;
    }
    .img {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 12rem;
      height: 12rem;
      background-image: linear-gradient(180deg, $transp 0%, rgba(255, 255, 255, 0) 70%);
      border-radius: 50%;
      @include flex-center(x);
      img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 14rem;
      }
    }
  }
}
.goods-info {
  margin-top: 1.5rem;
}
.goods-title {
  font-size: 1.12rem;
  letter-spacing: 0.1rem;
}
.goods-price {
  font-family: "Roboto", sans-serif;
  color: $lighter;

  .price-current {
    margin: 1rem 0;
    font-size: 1.7rem;
  }
  .sale {
    text-decoration: line-through;
    font-size: 1.2rem;
    opacity: 0.5;
  }
}
.swiper-pagination {
  .swiper-pagination-bullet {
    width: 4rem;
    height: 10px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0.3;
    box-sizing: border-box;
    transition: width 0.3s;
    transform: skewX(-20deg);
    &.swiper-pagination-bullet-active {
      opacity: 1;
      background: $light;
    }
  }
}
.explore {
  height: 80vh;
  @include laptop {
    height: auto;
  }
  @include flex-full-center;
  margin: 0 2rem 10rem 2rem;
  position: relative;
  &::after {
    content: "";
    background: url(../theme/img/ExploreMore_Bg.png) no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 2px;
    top: 7%;
    z-index: -1;
    @include laptop {
      width: 80%;
      left: 50%;
      top: 3%;
      transform: translateX(-50%);
      z-index: 2;
    }
  }
  .text {
    width: 45%;
    margin-top: -1rem;
    z-index: 2;
    @include laptop {
      text-align: center;
      width: 100%;
      @include background-blur;
      border-radius: 15px;
      padding: 10rem 3rem;
    }
    @include tablet {
      padding: 5rem 3rem;
    }
    @include mobile-s {
      padding: 5rem 1rem;
    }
    h2 {
      font-size: 3rem;
      @include mobile-s {
        font-size: 2.5rem;
      }
    }
    span {
      color: $bright;
    }
    i {
      font-style: normal;
      color: $purpure;
    }
    p {
      font-family: "Roboto", sans-serif;
      width: 60%;
      font-size: 1.1rem;
      margin: 2rem 0 3rem 0;
      @include laptop {
        margin: 2rem 0;
        padding: 0 5rem;
        width: 100%;
      }
      @include mobile-s {
        padding: 0 2rem;
      }
    }
    .cta {
      @include laptop {
        margin: 0 auto;
      }
      a {
        margin: 1.5rem;
        @include laptop {
          margin: 0;
        }
        span {
          color: #fff;
        }
      }
    }
  }
  .img {
    width: 55%;
    @include laptop {
      position: absolute;
      width: 80%;
    }
    @include tablet {
      width: 90%;
    }
    img {
      width: 100%;
    }
  }
}
