.products-wrapper {
  padding: 0 2rem;
  @include flex-justify(sb);
  width: 100%;
  @include mobile-m {
    padding: 0 1rem;
  }
}
.sort {
  height: 4rem;
  margin: 0.1rem 0 0.5rem 0;
  @include mobile-m {
    height: auto;
  }

  .form-control {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    @include mobile-s {
      justify-content: space-between;
    }
  }
  .filter-button {
    display: none;
    @include mobile-l {
      background-color: $transp;
      border-radius: $rad;
      color: #fff;
      padding: 0 0.9rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        background-color: $dark;
      }
    }
  }
  .sort-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include mobile-m {
      flex-direction: column;
      gap: 1rem;
    }
    .search {
      background-color: $transp;
      border-radius: $rad;
      width: auto;
      @include mobile-l {
        width: 100%;
      }
      @include mobile-m {
        display: flex;
      }
      .search-input {
        @include mobile-m {
          width: 100%;
          padding-right: 2rem;
        }
      }
      input,
      svg {
        color: #fff;
      }
      input {
        width: 30rem;
        margin-right: 2rem;
        @include laptop {
          width: 20rem;
        }
        @include tablet {
          width: 12rem;
        }
        @include mobile-m {
          width: 100%;
          margin-right: 0;
        }
        @include mobile-s {
          width: 100%;
        }
      }
    }
    .select {
      padding: 0 1rem;
      width: 12rem;
      color: #fff;
      background-color: $transp;
      border-radius: $rad;
      border: 2px solid #fff;
      height: 3rem;
      @include mobile-m {
        width: 100%;
      }
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
      svg {
        color: $light;
      }
    }
  }
}
.grid {
  width: 100%;
  padding-left: 1rem;
  @include mobile-l {
    padding-left: 0rem;
  }
}
.results {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  h3 {
    font-family: "Roboto", sans-serif;
    margin-right: 0.5rem;
  }
  button {
    margin: 0.3rem 0.5rem 0.3rem 0;
    padding: 0.2rem 1rem;
    background-color: $purpure;
    color: white;
  }
}
.filer-wrapper {
  @include mobile-l {
    width: 50%;
    height: 100%;
    position: fixed;
    z-index: 101;

    top: 0;
    right: 0;
  }
  @include mobile-m {
    width: 30%;
  }
}
.filter-header {
  @include flex-justify(sb);
  svg {
    display: none;
    cursor: pointer;
    @include mobile-l {
      display: block;
    }
  }
}
.filter {
  width: 20rem;
  background-color: $transp;
  border-radius: $rad;
  padding: 1.5rem;
  @include pc {
    width: 18rem;
  }
  @include laptop {
    width: 15rem;
  }
  @include mobile-l {
    position: fixed;
    transition: 0.2s;
    transform: translateX(-150%);
    &.active {
      padding-top: 3rem;
      transform: translateX(0%);
      position: fixed;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;

      background-color: $transp;
      backdrop-filter: blur(10px);
      overflow-y: scroll;

      transition: 0.2s;
      @include mobile-m {
        width: 70%;
      }
    }
  }
  .filter-name {
    line-height: 1.5rem;
  }

  .filter-block {
    margin-top: 2rem;
    padding-top: 0.5rem;
    background: none;
    color: #fff;
    box-shadow: none;
    &::before {
      background-color: #fff;
    }
    svg {
      color: #fff;
    }
    button {
      color: #fff;
      border: 1px solid #fff;
      margin: 0.2rem;
    }
  }
  .filter-items {
    display: flex;
    flex-wrap: wrap;
  }
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  @include pc {
    grid-template-columns: repeat(3, 1fr);
  }
  @include laptop {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mobile-s {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5rem;
  }
}

.product {
  background-color: $transp;
  border-radius: $rad;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  .img {
    border-radius: $rad;
    background-color: $purpure;
    width: 100%;
    height: 12rem;
  }
  .name {
    margin: 1rem 0;
  }
  .price {
    margin: 1rem 0;
  }
  span {
    margin-right: 1rem;
    &.price-current {
      font-size: 1.5rem;
    }
    &.sale {
      font-size: 1.1rem;
      color: grey;
      text-decoration: line-through;
    }
  }
  .buttons {
    @include flex-justify(sb);
    margin: 1rem 0 0.5rem 0;
  }
  button {
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background: none;
    color: #fff;
    border: 2px solid $purpure;
    cursor: pointer;
  }
}
