$mobile-s-width: 35rem;
$mobile-m-width: 40rem;
$mobile-l-width: 52rem;
$tablet-width: 60rem;
$laptop-width: 71rem;
$pc-width: 87.5rem;


@mixin pc {
  @media only screen and (max-width: $pc-width) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (max-width: $laptop-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet-width) {
    @content;
  }
}

@mixin mobile-l {
  @media only screen and (max-width: $mobile-l-width) {
    @content;
  }
}
@mixin mobile-m {
  @media only screen and (max-width: $mobile-m-width) {
    @content;
  }
}
@mixin mobile-s {
  @media only screen and (max-width: $mobile-s-width) {
    @content;
  }
}
